@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Page created at : <strong>@Model.PageCreatedAt</strong></p>
    <p>Hostname : <strong>@Model.HostName</strong></p>
    <p>IP Address : <strong>@Model.HostIpAddress</strong></p>

</div>
